<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz App</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/crypto-js@4.0.0/crypto-js.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bg-gray-100">
  <!-- Navbar -->
  <nav class="bg-blue-600 p-4" role="navigation" aria-label="main navigation">
    <div class="container mx-auto">
      <a class="text-white text-xl font-bold" href="#">
        Aplikasi Quiz By <strong>Steven</strong>
      </a>
    </div>
  </nav>

  <div id="app" class="container mx-auto quiz-container">
    <div v-if="!quizStarted" class="text-center mt-8">
      <h1 class="text-3xl font-bold mb-4">SELAMAT DATANG DI GAME KUIS</h1>
      <button class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-blue-700" @click="startQuiz">MULAI QUIZ</button>
    </div>
    <div v-else>
      <div v-if="!quizFinished">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="p-4">
            <h2 class="text-2xl font-bold mb-4">{{ currentQuestion.question }}</h2>
            <ul>
              <li v-for="(option, index) in currentQuestion.options" :key="index" class="mb-2">
                <label class="inline-flex items-center">
                  <input type="radio" :value="option" v-model="selectedOption" class="form-radio text-blue-600">
                  <span class="ml-2">{{ option }}</span>
                </label>
              </li>
            </ul>
            <!-- Checkbox untuk "SAYA MASIH RAGU" -->
            <label class="inline-flex items-center mt-2">
              <input type="checkbox" v-model="stillDoubt" class="form-checkbox text-blue-600" @click="handleStillDoubt">
              <span class="ml-2">SAYA MASIH RAGU</span>
            </label>
            <button class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-blue-700" @click="checkAnswer">NEXT</button>
            <button class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-blue-700" @click="previewQuestion" v-if="currentQuestionIndex > 0">previous</button>
            <p v-if="!selectedOption && !stillDoubt" class="text-red-600 mt-2">ANDA HARUS JAWAB SOAL INI TERLEBIH DAHULU SEBELUM GANTI SOAL.</p>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="p-4">
            <p class="text-lg  text-bold">Waktu Tersisa: {{ timer }}</p>
          </div>
        </div>
      </div>
      <div v-else>
        <h2 class="text-2xl font-bold">Quiz Selesai!</h2>
        <p class="text-lg" v-if="!allQuestionsAnswered">Anda belum bisa mengirim soal, silahkan selesaikan terlebih dahulu.</p>
        <p class="text-lg" v-else>Skor Anda: {{ score }}</p>
        <button class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-blue-700" @click="submitQuiz" v-if="allQuestionsAnswered">SUBMIT</button>
        <button class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-blue-700" @click="previewQuestion" v-if="currentQuestionIndex > 0 && !allQuestionsAnswered">previous</button>
      </div>
    </div>
  </div>

  <script src="app.js"></script>
</body>
</html>
